.graph {
  text {
    font-size: 12px;
  }
  line, path {
    stroke: black;
    stroke-width: 1px;
  }
  .line {
  }
  .stack {
  }
  .axis path,
  .axis line {
    fill: none;
  }

  line.regression {
    stroke: blue;
    stroke-width: 1px;
  }
  g.regression {
    background: white;
  }
  .regression text {
    fill: blue;
  }
}

.controls {
  font-size: 80%;
  .row {
    display: flex;
    cursor: pointer;
  }
  span.legend {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border: solid 1px #666;
  }
  span.hidden {
    background: #aaa;
  }
  span.stack {
    background: red;
  }
  span.tag {
    flex: 1;
    display: inline-block;
  }
}
