.graph {
  text {
    font-size: 12px;
  }
  line, path {
    stroke: black;
    stroke-width: 1px;
  }
  .line {
  }
  .stack {
  }
  .axis path,
  .axis line {
    fill: none;
  }

  line.regression {
    stroke: blue;
    stroke-width: 1px;
  }
  g.regression {
    background: white;
  }
  .regression text {
    fill: blue;
  }
}
