.graph {
  text {
    font-size: 12px;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  rect {
    shape-rendering: crispEdges;
  }
}
