.ledger {
  width: 640px;
}

.ledger-entry {
  display: flex;
  min-height: 16px;
  padding-bottom: 8px;
}
.ledger-entry:hover {
  background: #f0f0f0;
}

.ledger-date {
  width: 64px;
}

.ledger-body {
  flex: 1;
  min-width: 0;
}

.ledger-payee {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sel .ledger-payee {
  white-space: normal;
}

.ledger-tags {
  color: hsl(0, 0, 40%);
  font-size: 80%;
}

.ledger-money {
  text-align: right;
  color: hsl(0, 0%, 13%);
  white-space: nowrap;
  width: 96px;
}
