.ledger {
  max-width: 640px;
}

.ledger-entry {
  display: flex;
  height: 16px;
  padding-bottom: 8px;
}
.ledger-entry:hover {
  background: #f0f0f0;
}

.ledger-date {
  width: 64px;
}

.ledger-body {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ledger-money {
  text-align: right;
  color: hsl(0, 0%, 13%);
  white-space: nowrap;
  width: 128px;
}
