
.material {
  font-family: Roboto;
  font-size: 13px;
  color: hsl(0, 0%, 13%);
}

.material-type-display1 {
  font-size: 34px;
  font-weight: 400;
}

.material-type-headline {
  font-size: 24px;
  font-weight: 400;
}

.material-type-title {
  font-size: 20px;
  font-weight: 500;
}

.material-type-button {
  font-size: 14px;
  font-weight: 500;
}

.material-type-caption {
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 46%);
}


.ledger {
  @extend .material;
  max-width: 480px;
}

.ledger-entry {
  display: flex;
  height: 36px;
  padding-bottom: 8px;
}

.ledger-date {
  @extend .material-type-headline;
  width: 96px;
}

.ledger-body {
  flex: 1;
}

.ledger-text {
  @extend .material-type-button;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ledger-subtext {
  @extend .material-type-caption;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ledger-money {
  font-size: 24px;
  text-align: right;
  font-weight: 300;
  color: black;
  white-space: nowrap;
  width: 128px;
}
