body {
  font-family: 'PT Sans';
  font-size: 14px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

html, body {
  margin: 0;
}
body {
  margin: 0 128px;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  max-width: 640px;
  border-bottom: solid 1px hsl(0, 0, 12%);

  .title {
    font-family: 'PT Serif';
    font-size: 34px;
  }
  .spacer {
    flex: 1;
  }
}

main {
  margin: 16px 0;
  flex: 1;
}

