body {
  font-family: 'PT Sans';
  font-size: 14px;
}

input {
  font-family: inherit;
  font-size: inherit;
}
// center checkboxes relative to their text.
input[type=checkbox] {
  vertical-align: middle;
}

html, body {
  margin: 0;
}
body {
  margin: 16px 128px;
  display: flex;
}

h1 {
  font-family: 'PT Serif';
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 34px;
  position: absolute;
  left: 0.5ex;
  top: 0.25ex;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  max-width: 640px;
  border-bottom: solid 1px hsl(0, 0, 12%);

  .spacer {
    flex: 1;
  }
}

main {
  flex: 1;
}

