$teal200: #80cbc4;
$teal400: #26a69a;
$teal500: #009688;

.material {
  font-family: Roboto;
  font-size: 13px;
  color: hsl(0, 0%, 13%);
}

h1, .material-type-display1 {
  font-size: 34px;
  font-weight: 400;
}

.material-type-headline {
  font-size: 24px;
  font-weight: 400;
}

.material-type-title {
  font-size: 20px;
  font-weight: 500;
}

.material-type-button {
  font-size: 14px;
  font-weight: 500;
}

.material-type-caption {
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 46%);
}

html, body {
  margin: 0;
}

body {
  font-family: Roboto;
  font-size: 13px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.body {
  display: flex;
}

nav {
  width: (128px - 32px);
  padding: 16px;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 128px;
  background: $teal500;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .title {
    @extend .material-type-display1;
  }
  .spacer {
    flex: 1;
  }
}

main {
  padding: 16px 0;
  flex: 1;
}

.ledger {
  @extend .material;
  max-width: 480px;
}

.ledger-entry {
  display: flex;
  height: 36px;
  padding-bottom: 8px;
}

.ledger-date {
  width: 64px;
}

.ledger-body {
  flex: 1;
}

.ledger-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ledger-subtext {
  @extend .material-type-caption;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ledger-money {
  font-size: 24px;
  text-align: right;
  font-weight: 300;
  color: hsl(0, 0%, 13%);
  white-space: nowrap;
  width: 128px;
}

.graph {
  .line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  rect {
    fill: $teal400;
    shape-rendering: crispEdges;
  }
}

.autoc {
  display: inline-block;
  position: relative;
}
.dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 2em;
  width: 100%;
  border: solid 1px #666;
  background: white;
}
.dropdown .item {
  padding: 2px 4px;
  cursor: pointer;
}
.dropdown .item.sel {
  background: #ddf;
}
