html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto;
  font-size: 13px;
}
input {
  font-family: inherit;
  font-size: inherit;
}

header {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}

#ledger-table th {
  white-space: nowrap;
  cursor: pointer;
}
#ledger-table td {
  padding: 2px 4px;
}
tr:nth-child(even) {
  background: #f0f0f0;
}

.date {
  vertical-align: top;
  padding-right: 1ex;
  text-align: right;
}
.payee {
}
.amount {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.tag {
  border: solid 1px #666;
  border-radius: 4px;
  font-size: 80%;
  padding: 0 1ex;
  margin-left: 1ex;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
}

#graph {
  font-size: 12px;
  padding: 2ex;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.autoc {
  display: inline-block;
  position: relative;
}
input {
  border: solid 1px #666;
  padding: 4px;
  margin: 0;
}
.dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 2em;
  width: 100%;
  border: solid 1px #666;
  background: white;
}
.dropdown .item {
  padding: 2px 4px;
  cursor: pointer;
}
.dropdown .item.sel {
  background: #ddf;
}
